.BtnRadio {border: none; box-shadow: none; outline: none; background: #F8F5EE; border-radius: 100px; padding: 4px 12px; color: #101010};
.BtnRadio:hover {border: 1px solid #B48565; cursor: pointer;}
.BtnRadio.selected {color: #F8F5EE; background: #B48565;}