.App {
  width: 1024px;
  height: 537px;
  border: 1px solid #b48565;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  padding: 0 40px;
  padding-bottom: 40px;
}
.App .title {
  border-bottom: 1px solid #b48565;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  margin-top: 72px;
  margin-bottom: 40px;
}

.App .calculator {
  display: flex;
}
.App .calculator .metal-image {
  width: 30%;
  height: 328px;
  margin-right: 32px;
}
.App .calculator .metal-image img {
  width: 100%;
  object-fit: cover;
  height: 330px;
}
.App .calculator .content {
  width: 70%;
}
.App .calculator .calculate {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App .calculator .calculate h2 {display: none;}
.App .calculator .calculate button {
  border: none;
  box-shadow: none;
  outline: none;
  background: #b48565;
  border-radius: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #f8f5ee;
  padding: 8px 64px;
  cursor: pointer;
  position: absolute;
  margin-top: 24px;
  right: 0;
}
.App .calculator .select-prop-metal input {
  -webkit-box-align: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  transition: all 100ms;
  box-sizing: border-box;
  height: 54px;
  padding: 2px 8px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
}
.App .select {
  margin-bottom: 16px;
}

.App .calculate h2 {}
